/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre, code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  line-height: 1.1; }

.basket {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-self: center;
  background-color: #f6f6f6; }
  .basket .container {
    display: flex;
    width: 100%;
    max-width: 1333px;
    min-width: 320px;
    margin: 0 auto; }
    @media all and (max-width: 812px) {
      .basket .container {
        flex-direction: column; }
        .basket .container .pages {
          padding: 20px 10px; } }

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 320px; }
  .sidebar .user {
    position: -webkit-sticky;
    position: sticky;
    top: 0; }
    .sidebar .user .user-info {
      margin: 0 auto;
      padding: 10px 10px; }
      .sidebar .user .user-info .photo {
        width: 120px;
        margin: 0 auto;
        height: 120px;
        border-radius: 50%;
        background-color: #cecece; }
      .sidebar .user .user-info .name {
        margin-top: 5px;
        font-size: 26px;
        font-weight: 600;
        color: #5a5a5a;
        text-align: center; }
    .sidebar .user .menu ul {
      margin: 0 10px;
      padding: 0;
      list-style: none; }
    .sidebar .user .menu li {
      position: relative;
      display: flex;
      margin: 4px 0;
      border-radius: 4px;
      background-color: #eeeeee; }
      .sidebar .user .menu li:hover {
        background-color: #d7d7d7; }
      .sidebar .user .menu li:last-child {
        margin-top: 18px;
        background-color: #eeeeee; }
      .sidebar .user .menu li img {
        display: flex;
        align-self: center;
        width: 32px;
        height: 32px;
        margin: 0 15px; }
      .sidebar .user .menu li a {
        display: block;
        width: 100%;
        float: left;
        padding: 12px 38px 12px 20px;
        text-decoration: none;
        font-size: 15px;
        color: #545454;
        border-left: 2px solid #acacac; }
        .sidebar .user .menu li a:after {
          content: "";
          position: absolute;
          right: 0;
          top: 5px;
          display: inline-block;
          width: 32px;
          height: 32px;
          background: url("../img/icons/right-arrow32x32.png");
          opacity: 0.4; }
      .sidebar .user .menu li a:hover:after {
        opacity: 1; }
      .sidebar .user .menu li a.active:after {
        opacity: 1; }
  .sidebar .actions {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #eeeeee; }

.pages {
  width: 100%;
  padding: 30px 15px; }
  .pages > div {
    display: none; }
  .pages > div.show {
    display: block; }
  .pages .header {
    display: flex;
    margin-bottom: 15px; }
    .pages .header img {
      display: flex;
      align-self: center;
      width: 48px;
      height: 48px;
      margin: 0 20px; }
    .pages .header .title {
      display: flex;
      align-self: center;
      font-size: 26px;
      color: #545454; }
  .pages .catalog .catalog-category {
    display: flex; }
    .pages .catalog .catalog-category .item {
      width: 50%;
      padding: 7px 10px;
      border: 2px solid #e3af55;
      text-align: center;
      font-weight: 600;
      color: #707070;
      cursor: pointer; }
      .pages .catalog .catalog-category .item:hover {
        background-color: #e3af55;
        color: #ffffff;
        border: 2px solid #b28943; }
    .pages .catalog .catalog-category .active {
      background-color: #e3af55;
      color: #ffffff; }
  .pages .catalog .catalog-list {
    display: flex;
    flex-direction: column; }
  .pages .catalog .catalog-area {
    display: none; }
  .pages .catalog .catalog-area.show {
    display: flex;
    flex-direction: column; }
  .pages .catalog .catalog-item {
    display: flex;
    padding: 7px 10px;
    border: 1px solid #ddd;
    border-bottom: none;
    cursor: default; }
    .pages .catalog .catalog-item:last-child {
      border-bottom: 1px solid #ddd; }
    .pages .catalog .catalog-item .image {
      max-width: 100px;
      min-width: 100px;
      height: auto; }
    .pages .catalog .catalog-item .item-about {
      flex: auto;
      padding: 0 15px; }
    .pages .catalog .catalog-item .title {
      margin-bottom: 11px; }
    .pages .catalog .catalog-item .description {
      color: #707070; }
    .pages .catalog .catalog-item .options {
      display: flex;
      min-width: 150px;
      flex-direction: column;
      justify-content: center; }
    .pages .catalog .catalog-item .price {
      font-size: 28px;
      text-align: center;
      color: #333; }
      .pages .catalog .catalog-item .price:after {
        content: "\e905"; }
    .pages .catalog .catalog-item .quantity {
      display: flex;
      margin: 5px auto; }
    .pages .catalog .catalog-item .quantity-decrease {
      font-size: 30px; }
    .pages .catalog .catalog-item .quantity-value {
      width: 50px; }
    .pages .catalog .catalog-item .quantity-increase {
      font-size: 30px; }
    .pages .catalog .catalog-item .add-to-basket {
      padding: 5px 7px;
      border: 1px solid #e3af55;
      text-align: center;
      font-size: 13px;
      color: #e3af55;
      cursor: pointer;
      opacity: 1; }
      .pages .catalog .catalog-item .add-to-basket:hover {
        background-color: #e3af55;
        color: #fff; }
  .pages .question {
    cursor: default; }
    .pages .question .help-msg {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 21px;
      color: #707070; }
    .pages .question textarea {
      width: 100%;
      margin-bottom: 15px;
      border: 1px solid #e3af55;
      border-radius: 2px;
      padding: 10px;
      color: #707070; }
    .pages .question input {
      display: block; }
    .pages .question .submit {
      padding: 7px 15px;
      border: 2px solid #e3af55;
      font-weight: 600;
      color: #e3af55; }
      .pages .question .submit:hover {
        color: #ffffff;
        background-color: #e3af55; }
  .pages .shopping-cart .basket-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; }
  .pages .shopping-cart .basket-item {
    display: flex;
    padding: 7px 10px;
    border: 1px solid #ddd;
    border-bottom: none;
    cursor: default; }
    .pages .shopping-cart .basket-item:last-child {
      border-bottom: 1px solid #ddd; }
    .pages .shopping-cart .basket-item .image {
      max-width: 100px;
      min-width: 100px;
      height: auto; }
    .pages .shopping-cart .basket-item .item-about {
      flex: auto;
      padding: 0 15px; }
    .pages .shopping-cart .basket-item .title {
      margin-bottom: 11px; }
    .pages .shopping-cart .basket-item .description {
      color: #707070; }
    .pages .shopping-cart .basket-item .options {
      display: flex;
      min-width: 150px;
      flex-direction: column;
      justify-content: center; }
    .pages .shopping-cart .basket-item .price {
      font-size: 28px;
      text-align: center;
      color: #333; }
      .pages .shopping-cart .basket-item .price:after {
        content: "\e905"; }
    .pages .shopping-cart .basket-item .quantity {
      margin: 5px auto; }
    .pages .shopping-cart .basket-item select {
      width: 60px; }
    .pages .shopping-cart .basket-item .drop-from-basket {
      padding: 5px 7px;
      border: 1px solid #e3af55;
      text-align: center;
      font-size: 13px;
      color: #e3af55;
      cursor: pointer;
      opacity: 1; }
      .pages .shopping-cart .basket-item .drop-from-basket:hover {
        background-color: #e3af55;
        color: #fff; }
  .pages .shopping-cart .basket-actions .submit {
    display: block;
    margin: 0 auto;
    padding: 7px 15px;
    border: 2px solid #e3af55;
    font-weight: 600;
    color: #e3af55; }
    .pages .shopping-cart .basket-actions .submit:hover {
      color: #ffffff;
      background-color: #e3af55; }

/*# sourceMappingURL=styles.css.map */
